In [3]:
import pandas as pd

In [4]:
print('hello')

hello

In [8]:
covid_data = pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv", na_values = "", encoding = "UTF-8")

In [9]:
covid_data[:5]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [16]:
covid_data[covid_data['geoId']=='UK'][:5]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
59001,14/12/2020,14,12,2020,189723,1340,United_States_of_America,US,USA,329064917.0,America,873.211592
59002,13/12/2020,13,12,2020,216017,2315,United_States_of_America,US,USA,329064917.0,America,857.089241
59003,12/12/2020,12,12,2020,234633,3343,United_States_of_America,US,USA,329064917.0,America,838.514183
59004,11/12/2020,11,12,2020,224680,2748,United_States_of_America,US,USA,329064917.0,America,830.394205
59005,10/12/2020,10,12,2020,220025,3124,United_States_of_America,US,USA,329064917.0,America,794.356027